#lua files in root
#*.lua
test.lua

# Exclude the api docs directory
stdlib-docs/

.temp/
.trash/
.history/
.vscode/

# Exclude the output directory
.output/
.build/

# vim swapfiles
.*.swp

# {l,c}tags
/tags
/stdlib/tags

# Ignore temp.lua files
*.ign.lua
*.tmp.lua
*.tmp
*.stackdump
.luacheckcache

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
