# Exclude the build directory
.build/

# Exclude the output director
.output/

# Temporarily Exclude mod file changes
mod/*
!mod/info.json

# vscode related
.vscode/
*.stackdump

# vim swapfiles
.*.swp

# {l,c}tags
/tags
/stdlib/tags

*.tmp

# Ignore temp.lua files
temp*.lua
