# Exclude the build directory
.build/

# Temporarily Exclude mod file changes
mod/*
!mod/info.json

# vscode related
.vscode/
*.stackdump

# vim swapfiles
.*.swp

# {l,c}tags
/tags
/stdlib/tags

*.tmp
