Alex Aulbach <alex.aulbach@mayflower.de>
Andy Hunt <andy.p.hunt91@gmail.com>
Cameron McAvoy <afforess@gmail.com>
Choumiko <Choumiko@users.noreply.github.com> <ghostface@ghostface.info>
Clarence "Sparr" Risher <sparr0@gmail.com>
Credomane <github@credomane.com>
Dominik Kaisers <dominik@dkaisers.net>
Dustine <dustine.camacho@gmail.com>
Gregory M. Turner <gmt@be-evil.net> <gmt@malth.us>
Guy Fraser <guy.fraser1@gmail.com>
Matthias Fuchs <matthias.fuchs@getit.de>
Michael Overmeyer <m.overmeyer@yahoo.ca>
Nicholas Dunn <nexela@gmail.com>
Pandemoneus <Pandemoneus@gmx.de>
Suprcheese <Suprcheese@users.noreply.github.com>
TOFM <TOFM@foo.bar>
lossycrypt <lossycrypt@users.noreply.github.com>
nullvoid8 <nullvoid8@gmail.com>
